<li>
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}It was delicious!{{else}}It looks good enough to eat!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">Delete!</button>
</li>
